In [1]:
def func_luas(x,5): 
    "function untuk menghitung luas"
    print(x*5)

In [7]:
func_luas(12,4)

48

In [8]:
print(func_luas(12,4))

48
None

In [11]:
def func_luas2(x,5): 
    "function untuk menghitung luas"
    return x*5

SyntaxError: invalid syntax (Temp/ipykernel_8328/3359636549.py, line 1)

In [12]:
luas = func_luas2(15,5)
print("Luas :",luas)

Luas : 75

In [13]:
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return

In [14]:
hasil = printme("program hacktivate8")
print(hasil)

program hacktivate8
None

In [15]:
def cekbilangan(n):
    if n % 2:
        print("Bilangan Ganjil") 
    else : 
        print("Bilangan Genap")
    return 

print(cekbilangan(22))

Bilangan Genap
None

In [16]:
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return;

# Now you can call printme function
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

In [19]:
listx = [10,9,8] 
print(f"isi list {listx}")

isi list [10, 9, 8]

In [20]:
listx.append([4,5,6]) 
print(f"isi list terbaru setelah di append {listx}")
listx.append(10)
print(f"isi list terbaru setelah di append {listx}")

isi list terbaru setelah di append [10, 9, 8, [4, 5, 6]]
isi list terbaru setelah di append [10, 9, 8, [4, 5, 6], 10]

In [21]:
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist.append([100,99,98,97]);
   print("Values inside the function: ", mylist)
   return

In [23]:
mylist = [45,46,47];
changeme( mylist );
print("Values outside the function: ", mylist)

Values inside the function:  [45, 46, 47, [1, 2, 3, 4]]
Values outside the function:  [45, 46, 47, [1, 2, 3, 4]]

In [27]:
def hitung(amt  ,disc  ,saldo ):
    "hitung sisa saldo"
    saldo -= amt + disc   
    print("hitung saldo selesai ",saldo)
    return 

amt = 1000
disc = 10 
saldo = 5000
hitung(amt, disc, saldo)

print(f'Nominal belanja : {amt}')
print(f'Discount        : {disc}%')
print(f"Saldo sekarang : {saldo}")

hitung saldo selesai  3990
Nominal belanja : 1000
Discount        : 10%
Saldo sekarang : 5000

In [28]:
def func(name, job):
    print(name, 'is a', job)

func('Jack', 'developer')
# Prints Jack is a developer

func('developer', 'Jack')

Jack is a developer
developer is a Jack

In [29]:
def totalInvoice( name, amt,  disc = 100 ):
    "This prints a passed info into this function"
    print("Name: ", name)
    print("Amt: ", amt)
    print("Disc:", disc) 
    total = amt - disc 
    print(10*"==")
    print("Total:",total)
    return

# Now you can call printinfo function
print("Invoice : ",1) 
totalInvoice( amt=50000, name="hacktiv8", disc = 5000 )
print("\n")

print(10*"###")
print("\n")
print("Invoice : ",2) 
totalInvoice( name="Jhon",  amt=10000)

Invoice :  1
Name:  hacktiv8
Amt:  50000
Disc: 5000
====================
Total: 45000


##############################


Invoice :  2
Name:  Jhon
Amt:  10000
Disc: 100
====================
Total: 9900

In [30]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a, b, c, d = arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0

In [31]:
def func(a, b):
    return a+b, a-b

result = func(3, 2)

print(result)
print(type(result))

(5, 1)
<class 'tuple'>

In [32]:
total = 10 

def  sum(arg1, arg2):
    " Add both the parameters and return them."
    total = arg1 + arg2
    print("Inside the function : ", total)
    return total

def min():
    return 
     

total = sum(10,20)
print("Outside the function global total : ", total)

Inside the function :  30
Outside the function global total :  30

In [33]:
def Terbilang(bil):
    angka = ["","Satu","Dua","Tiga","Empat","Lima","Enam",
             "Tujuh","Delapan","Sembilan","Sepuluh","Sebelas"]
    Hasil = " "
    n = int(bil)
    if n>= 0 and n <= 11:
        Hasil = angka[n]
    elif n <20:
        Hasil = Terbilang (n-10) + " Belas "
    elif n <100:
        Hasil = Terbilang (n/10) + " Puluh " + Terbilang (n%10)
    elif n <200:
        Hasil = " Seratus " + Terbilang (n-100)
    elif n <1000:
        Hasil = Terbilang (n/100) + " Ratus " + Terbilang (n%100)
    elif n <2000:
        Hasil = " Seribu " + Terbilang (n-1000)
    elif n <1000000:
        Hasil = Terbilang (n/1000) + " Ribu " + Terbilang (n%1000)
    elif n <1000000000:
        Hasil = Terbilang (n/1000000) + " Juta " + Terbilang (n%1000000)
    elif n <1000000000000:
        Hasil = Terbilang (n/1000000000) + " Milyar " + Terbilang (n%1000000000)
    elif n <1000000000000000:
        Hasil = Terbilang (n/1000000000000) + " Triliyun " + Terbilang (n%1000000000000)
    else:
        Hasil = "Angka Hanya sama Triliyun"

    return Hasil



huruf = Terbilang("64")
print(f"Terbilang : {huruf}")

Terbilang : Enam Puluh Empat

In [34]:
huruf = Terbilang("47")
print(f"Terbilang : {huruf}")

Terbilang : Empat Puluh Tujuh

In [39]:
class Mahasiswa():
    def __init__(self, masukan_nama):
        self.nama = masukan_nama
 
    def nilai(self, nilai):
        if nilai >= 60:
            print(self.nama,'berhasil lulus dengan mencapai nilai :',nilai)
        else:
            print(self.nama, "mendapatkan nilai :",nilai,", tetap semangat ya", self.nama)
 
mhs = Mahasiswa("Jojo")
print(mhs.nama)
 
mhs.nilai(45);

Jojo
Jojo mendapatkan nilai : 45 , tetap semangat ya Jojo