In [3]:
a = 'fell18'
print(a)
print(type(a))

fell18
<class 'str'>

In [4]:
a = '1357'
print(a)
print(type(a))

1357
<class 'str'>

In [5]:
a = 12345
print(a)
print(type(a))

12345
<class 'int'>

In [6]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [7]:
print('This string contains a single quote (\') character.')

This string contains a single quote (') character.

In [11]:
a = 56
a
b = 89
b

89

In [13]:
a = 13
print(a)
b = 45
b

13

45

In [14]:
var = 23.5
print(var)
print(type(var))

var = "Now I'm a string"
print(var)
print(type(var))

23.5
<class 'float'>
Now I'm a string
<class 'str'>

In [15]:
name = "ANI"
name
'ANI'
NAME = "ANITA"
print(name)

ANI

In [16]:
print(NAME)

ANITA

# Operator and Expression

In [17]:
a = 10
b = 20
a + b

30

In [19]:
a = 25
b = 75
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a * b)

100
-50
1875
0.3333333333333333
0
25
1875

In [20]:
print(a**b)

700649232162408535461864791644958065640130970938257885878534141944895541342930300743319094181060791015625

# String Manipulation

In [22]:
s = 'fel'
t = 'ly'
u = 'sia'
print(s + t)
print(s + t + u)

felly
fellysia

In [25]:
stu = s + t + u
stu
concantenated_string = 'Hacktiv8' + stu
concantenated_string

'Hacktiv8fellysia'

# in Operators

In [26]:
s = 'foo'
print(s in 'That food for us')

True

In [27]:
s = 'foo'
print(s in 'That good for us')

False

# .capitalize() vs .title()

In [29]:
s = 'hello world'
print('Capitalized ', s.capitalize())
print('Titled ', s.title())

Capitalized  Hello world
Titled  Hello World

# Python Lists

In [30]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [31]:
print(a[0])

foo

In [32]:
print(a[1])
print(a[2])
print(a[3])

bar
baz
qux

# Python Lists - negative indices

In [33]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

In [34]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['foo', 'bar', 'baz', 'qux']
a == b

True

In [37]:
person = {}
type(person)

dict

In [38]:
person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
person['children']
['Ralph', 'Betty', 'Joey']
person['children'][2]

'Joey'

In [39]:
person['children'][5]

IndexError: list index out of range